.page-top.animated.fadeInDown
  .nav
    li
      if is_home()
        a.current(href="/")= __('Главная')					
      else
        a(href="/")= __('Главная')	
    li
      if is_current('links')
        a.current(href=url_for('/categories/link'))= __('Лента ссылок')
      else
        a(href=url_for('/categories/link'))= __('Лента ссылок')
    li
      if is_current('about')
        a.current(href=url_for('about'))= __('О сайте')			
      else
        a(href=url_for('about'))= __('О сайте')
  .information
    .back_btn
      li
        if is_post()
          a.fa.fa-chevron-left(onclick="window.history.go(-1)") 
        else
          a.fa.fa-chevron-left(onclick="window.history.go(-1)",style="display:none;") 
    .avatar
      img(src=theme.avatar)
